[submodule "ovn-kubernetes"]
	path = ovn-kubernetes
	url = https://github.com/openshift/ovn-kubernetes
	branch = release-4.18
[submodule "containernetworking-plugins"]
	path = containernetworking-plugins
	url = https://github.com/openshift/containernetworking-plugins
	branch = release-4.18
[submodule "promu"]
	path = promu
	url = https://github.com/openshift/prometheus-promu
[submodule "windows_exporter"]
	path = windows_exporter
	url = https://github.com/openshift/prometheus-community-windows_exporter
[submodule "kubelet"]
	path = kubelet
	url = https://github.com/openshift/kubernetes
	branch = release-4.19
[submodule "kube-proxy"]
	path = kube-proxy
	url = https://github.com/openshift/kubernetes
	branch = master
[submodule "containerd"]
	path = containerd
	url = https://github.com/openshift/containerd
	branch = release-4.18
[submodule "hcsshim"]
	path = hcsshim
	url = https://github.com/openshift/hcsshim
	branch = release-4.18
[submodule "cloud-provider-azure"]
	path = cloud-provider-azure
	url = https://github.com/openshift/cloud-provider-azure
	branch = release-4.18
[submodule "csi-proxy"]
	path = csi-proxy
	url = https://github.com/openshift/csi-proxy
	branch = release-4.18
[submodule "cloud-provider-aws"]
	path = cloud-provider-aws
	url = https://github.com/openshift/cloud-provider-aws
	branch = release-4.18
