[submodule "windows-machine-config-bootstrapper"]
	path = windows-machine-config-bootstrapper
	url = https://github.com/openshift/windows-machine-config-bootstrapper
	branch = release-4.10
[submodule "ovn-kubernetes"]
	path = ovn-kubernetes
	url = https://github.com/openshift/ovn-kubernetes
	branch = release-4.10
[submodule "containernetworking-plugins"]
	path = containernetworking-plugins
	url = https://github.com/openshift/containernetworking-plugins
	branch = release-4.10
[submodule "promu"]
	path = promu
	url = https://github.com/openshift/prometheus-promu
[submodule "windows_exporter"]
	path = windows_exporter
	url = https://github.com/openshift/prometheus-community-windows_exporter
[submodule "kubelet"]
	path = kubelet
	url = https://github.com/openshift/kubernetes
	branch = release-4.11
[submodule "kube-proxy"]
	path = kube-proxy
	url = https://github.com/openshift/kubernetes
	branch = sdn-4.10-kubernetes-1.22.0-rc.0
[submodule "containerd"]
	path = containerd
	url = https://github.com/openshift/containerd
	branch = main
[submodule "hcsshim"]
	path = hcsshim
	url = https://github.com/openshift/hcsshim
	branch = master
[submodule "cloud-provider-azure"]
	path = cloud-provider-azure
	url = https://github.com/openshift/cloud-provider-azure
	branch = release-4.10
