apiVersion: v1
kind: Namespace
metadata:
  labels:
    security.openshift.io/scc.podSecurityLabelSync: "true"
    pod-security.kubernetes.io/enforce: "privileged"
    openshift.io/cluster-monitoring: "true"
    name: windows-machine-config-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: windows-machine-config-operator
  namespace: system
  labels:
    name: windows-machine-config-operator
spec:
  selector:
    matchLabels:
      name: windows-machine-config-operator
  replicas: 1
  template:
    metadata:
      labels:
        name: windows-machine-config-operator
    spec:
      hostNetwork: true
      priorityClassName: system-cluster-critical
      containers:
      - command:
        - windows-machine-config-operator
        args:
        - "--debugLogging"
        image: controller:latest
        name: manager
        imagePullPolicy: IfNotPresent
        env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "windows-machine-config-operator"
      serviceAccountName: windows-machine-config-operator
      terminationGracePeriodSeconds: 10
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 120
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 120
