apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: windows-machine-config-operator
  namespace: openshift-windows-machine-config-operator
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
# service permissions needed for the metrics server
- apiGroups:
  - ""
  resources:
  - services
  - services/finalizers
  verbs:
  - create
  - delete
  - get
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
# deployment/finalizers permissions needed for the metrics server
- apiGroups:
  - apps
  resourceNames:
  - windows-machine-config-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
# These permissions needed for the metrics server
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  verbs:
  - get
# Permissions to access hostnetwork SCC
- apiGroups:
  - security.openshift.io
  resourceNames:
  - hostnetwork
  resources:
  - securitycontextconstraints
  verbs:
  - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: windows-machine-config-operator
rules:
 - apiGroups:
   - ""
   resources:
   - events
   - nodes
   verbs:
   - "*"
# The infrastructure endpoint is used within WNI
 - apiGroups:
   - "config.openshift.io"
   resources:
   - infrastructures
   - networks
   verbs:
   - get
 - apiGroups:
   - certificates.k8s.io
   resources:
   - certificatesigningrequests
   - certificatesigningrequests/approval
   verbs:
   - get
   - list
   - update
 - apiGroups:
     - operator.openshift.io
   resources:
     - networks
   verbs:
     - get
# Pod permissions used to get OwnerReference corresponding to the current pod. This is required to ensure that
# the operator pod is the leader in the given namespace.
 - apiGroups:
     - ""
   resources:
     - pods
   verbs:
     - get
     - list
# Permissions needed to approve a CSR.
 - apiGroups:
     - certificates.k8s.io
   resources:
     - signers
   verbs:
     - approve
 - apiGroups:
     - ""
   resources:
     - secrets
   verbs:
     - create
     - get
     - list
     - watch
     - update
# Permissions to access the machine api
 - apiGroups:
     - "machine.openshift.io"
   resources:
     - machines
   verbs:
     - get
     - list
     - watch
     - delete
 - apiGroups:
     - machine.openshift.io
   resources:
     - machinesets
   verbs:
     - list
     - get
     - watch
