apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: windows-instance-config-daemon
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - list
      - watch
      - get
      - patch
